@import url('https://fonts.googleapis.com/css?family=Open+Sans');

p, .container-fluid {
  padding-bottom: 30px;
  text-align: center;
  font-family: 'poppins';
}

body{
  position: relative;
  background-color: #fafa;
}

.well {
  font-family: 'Open Sans','sans-serif';
  margin-bottom: 5vh;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
}

footer {
  min-height: 8vh;
  padding-top: 12px;
  padding-bottom: 1px;
  background-color: black;
}
section {
  min-height: 91.8vh;
  font-size: 12px;
  font-weight: 300;
}

blockquote {
    font-size: 1.4em;
    text-align: center;
}

#author {
    text-align: center;
    font-size: 1.5em;
    font-family: Monaco, monospace;
    margin-top: 5vh;
}

#text {
    font-size: 8px;
    font-family: "Lucida Console", Monaco, monospace;
}

.text-primary {
    color: #8e24aa !important;
}

.btn-primary,
.btn-primary:visited,
.btn-primary:focus
 {
    color: #fff;
    background-color: #8e24aa;
    border-color: #8e24aa;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ab47bc;
    border-color: #ab47bc;
}
